img.album {
  height: 300px;
  border-style: solid;
}
main {
  background-color: firebrick;
  color: yellowgreen;
}
body {
  background-image: url("colored-dust.png");
  background-size: cover;
}
#wrapper {
 width: 60%;
 margin: auto;
 margin-top: 30px;
}
ul {
  list-style-image: url("marker.png");
}
.specialborder {
border-image-slice: 33% 33% 33% 33%;
border-image-width: 15px 15px 15px 15px;
border-image-outset: 15px 15px 15px 15px;
border-image-repeat: stretch stretch;
border-image-source: url("borderimage.png");
border-style: solid;}