@media print {
  a::after{
    content: " (" attr(href) ") ";
  }
  body {
    background-color: white;
    color: black;
  }
  #sidebar {
    display: none;
  }
  #nav {
    display: none;
  }
  .wp-block-image {
    display: none;
  }
  #footer {
    display: none;
  }
  center, p, !h3 {
    font-size: 1.25em;
  }
  #text {
    font-size: 1.25em;
  }
}